
$body-background: rgb(2, 0, 36);
$radial-gradient-start: rgba(2, 0, 36, 1);
$radial-gradient-middle: rgba(30, 54, 59, 1);
$radial-gradient-end: rgba(93, 93, 116, 1);

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: $body-background;
  background: radial-gradient(
    circle,
    $radial-gradient-start 0%,
    $radial-gradient-middle 0%,
    $radial-gradient-end 100%
  );

  form {
    width: 70%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;

    h1 {
      margin-top: 0;
    }

    .ui.divider {
      margin: 20px 0;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
        color: #333;
      }

      input[type='text'],
      input[type='password'] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    p {
      color: red;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .fluid.ui.button.blue {
      width: 100%;
      background-color: #0563b4 !important;
      color: #fff;
    }
  }

  .ui.message.success {
    background-color: #32cd32;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
    margin-bottom: 20px;
  }
}